.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}
